@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

:root {
	--fridget-green: #60a561;
	--fridget-green-dark: #427643;
	--fridget-green-darkest: #2c4e2d;

	--fridget-white: #fff;
	--fridget-white-dark: #edf2f7;
	--fridget-white-darkest: #cbd5e0;

	--fridget-black: #000;

	--fridget-border-radius: 6px;
	--primary-font: 'Playfair Display', serif;
}

html {
	height: 100%;
    display: flex;
    flex-direction: column;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    flex: 1;
	margin: 0;
	background-color: var(--fridget-white-dark);
}

.color {
	width: calc(100% - 4rem);
	display: flex;
	justify-content: center;
	padding: 2rem;
}

.color h1 {
	font-family: var(--primary-font);
	font-weight: 400;
}

.color--green {
	color: var(--fridget-white);
	background-color: var(--fridget-green);
}

.color--green-dark {
	color: var(--fridget-white);
	background-color: var(--fridget-green-dark);
}

.color--green-darkest {
	color: var(--fridget-white);
	background-color: var(--fridget-green-darkest);
}

.color--white {
	color: var(--fridget-black);
	background-color: var(--fridget-white);
}

.color--white-dark {
	color: var(--fridget-black);
	background-color: var(--fridget-white-dark);
}

.color--white-darkest {
	color: var(--fridget-black);
	background-color: var(--fridget-white-darkest);
}