.grocery-list {
	--grocery-image-size: 4.5rem;
	width: 100%;
	max-width: 640px;
	background-color: var(--fridget-white);
}

.grocery-item {
	width: calc(100% - 4rem);
	display: grid;
	grid-template-columns: var(--grocery-image-size) auto 2rem;
	grid-column-gap: 2rem;
	align-items: center;
	background-color: var(--fridget-white);
	transition: background-color 0.2s ease-in-out;
	padding: 2rem;
	border-bottom: 1px solid var(--fridget-white-darkest);
}

.grocery-item:last-of-type {
	border-bottom: unset;
}

.grocery-item:hover {
	cursor: pointer;
	background-color: var(--fridget-white-dark);
	z-index: 1;
}

.grocery-item__image {
	height: var(--grocery-image-size);
	width: var(--grocery-image-size);
	background-size: cover;
	border-radius: var(--fridget-border-radius);
}

.grocery-item:nth-of-type(1) .grocery-item__image {
	background-image: url(https://images.unsplash.com/photo-1569718212165-3a8278d5f624?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);
}

.grocery-item:nth-of-type(2) .grocery-item__image {
	background-image: url(https://images.unsplash.com/photo-1519583916722-289d542b19a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);
}

.grocery-item:nth-of-type(3) .grocery-item__image {
	background-image: url(https://images.unsplash.com/photo-1545173168-9f1947eebb7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3151&q=80);
}

.grocery-item:nth-of-type(4) .grocery-item__image {
	background-image: url(https://images.unsplash.com/photo-1553909489-ec2175ef3f52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);
}

.grocery-item:nth-of-type(5) .grocery-item__image {
	background-image: url(https://images.unsplash.com/photo-1589985270826-4b7bb135bc9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60);
}

.grocery-item__name {
	font-family: var(--primary-font);
	font-size: 1.5rem;
	letter-spacing: 1px;
	margin: 0;
}

.grocery-item__chevron {
	height: 2rem;
}
