body {
    background-color: var(--fridget-white);
}

.add-item-button {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fridget-green);
    border-radius: 50%;
    z-index: 2;
}

.add-item-button:hover {
    cursor: pointer;
}

.add-item-button:active {
    background-color: var(--fridget-green-dark);
}

.add-item-button__icon {
    height: 2rem;
}

.dash-controls {
    height: 60px;
    width: 100%;
    background-color: var(--fridget-white);
    box-shadow: 0px 0px 10px 0px var(--fridget-white-darkest);
    position: fixed;
    bottom: 0;
    z-index: 1;
}